installation files
intra/air
intra/dist
intra/Anodyne_standalone
intra/bin/Anodyne.swf
intra/mobile_PAX_Intra.dam
intra/Intra.dam.bak
intra/Intrademo.dam
intra/Intrademo.dam.bak
intra/mapCSV_Minimap_Bedroom.csv
intra/mapCSV_Minimap_Redcave.csv
intra/Minimaps.dam.bak
intra/Anodyne.exe
intra/Anodyne.ipa
intra/Anodyne.zip
intra/Anodyne_Only_Joy_1_506.exe
intra/commits.txt
intra/_weirdbinthings
intra/Anodyne_store_new.ipa
intra/Anodyne_Windows_1_511.zip